/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ffffff;
    line-height: 1.5;
}


/*cabecalho da pag*/

header {
    background-color: #FFD34F;
    
    display: flex;
justify-content: space-evenly;
    align-items: center;
}


.logo {
    color: #000;
    font-size: 2.4rem;
}

.logo-site{
    height: auto;
    width: 4.5%;
position: relative;
right: 2%;
}




nav ul {
    list-style-type: none;
    display: flex;
    gap:2.4rem;
   font-size: 1.3rem;
   margin-top: 2%;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.menu_toggle, .menu_btn {
    display: none; /* Ocultando o botão do menu hambúrguer em telas grande */
}

.menu_box {
    display: none; /* Ocultando menu_box  */
}
a{
    text-decoration: none;
    width: 14%;
}

/*icone de lupa*/
.fas.fa-search {
    font-size: 18px;
    color: #3333338a; 
    margin-right: 10px;
    margin-top: 3%;
}



/* Estilos para a div de aviso */
.inactivity-warning {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(48, 96%, 50%);
    padding: 19px;
    color: #000;
    border-radius: 15px;
    border: 13px solid #ff9100;
    height: 333px;
    text-align: center;
    font-size: 1.6rem;
    z-index: 1000;
}
.inactivity-warning p{
    margin-top: 6%;
}

.inactivity-warning button {
    margin: 5% auto 0;
    padding: 10px 15px;
    width: 20%;
    height: 44px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inactivity-warning button:hover {
    background-color: #218838;
}




/*icone de usuario*/
.user-icon {
    font-size: 1.9rem;
    position: relative;
    bottom: 6px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;

}




/* Popup de Registro */
.registration-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    color: #000;
    width: 24%;
    max-width: 90%;
    position: relative;
}

.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 22px;
    font-size: 37px;
    cursor: pointer;
}
.user-type-selector{
    display: flex;
    
    }

.user-type-selector button {

    padding: 8px;
    cursor: pointer;

margin: auto;
    background-color: #007396;
}



.form-group{
    display: flex;
    flex-direction: column;
text-align: center;
margin: 4% auto 1%; 
}

.form-group input{
padding: 3%;
border-radius: 8px;
}

.form-group label{
text-align: start;
margin: 1.5%;
}

.form-group button{
padding: 21%;
background-color: #1f74b4;
}

#btn-cadastro{
    width: 56%;
    height: 47px;
background-color: #1572b6;
padding: 3%;
border-radius: 8px;
border: none;
margin: 16% auto 0 22%;
}




/* Container de pesquisa */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* input de pesquisa */
.search-container .search {
    padding: 10px 40px 10px 15px; 
    font-size: 16px;
    border-radius: 23px;
    border: 1px solid #ccc;
    width: 800px;
}

/* Estilo do botão de ícone de pesquisa */
.search-container .search-icon {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.menu_toggle, .menu_btn {
    display: none; /* Ocultando o botão do menu hambúrguer em telas grande */
}

.menu_box {
    display: none; /* Ocultando menu_box  */
}

a{
    text-decoration: none;
}


.containerOpinion{
text-align: center;
}
.containerOpinion > h1{
color: #fff;
font-size: 3.8rem;
margin: 3% auto 3%;
}



.containerOpinion > p{
font-size: 1.6rem;
width: 60%;
margin: auto;
}



.containerComplaint{
    text-align: center;
    margin-top: 10%;

}

.containerComplaint h1{
    color: #fff;
    font-size: 3.8rem;
    margin: 1% auto 2%
}


.containerComplaint > p{
    font-size: 1.6rem;
    width: 60%;
    margin: auto;
    }


    
.custom-icon{
    font-size: 12rem;
    margin: 1.5% auto 4%; 
   color: #ffd900;
   
    }

    .custom-icon:hover{
    
        transform: scale(1.2); 
        filter: brightness(1.2);  
    }
  

.containerChatbot{
    text-align: center;
    margin-top: 10%;
    }

    .containerChatbot h1{
        font-size: 3.8rem;
        margin: 1% auto 2%
    }

    .containerChatbot p{
        font-size: 1.6rem;
        width: 60%;
        margin: auto;
    }