@media screen and (min-width: 1024px) and (max-width: 1366px) {

    /* Reset de margens e paddings */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    body {
      
        font-family: Arial, sans-serif;
        background-color: #000000;
        color: #fff;
        line-height: 1.5;
    }
    
    /*cabecalho da pag*/
    
    header {
        background-color: #FFD34F;
        
    width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
    }
    
    
    
    #Banner {
        width: 100%;
        margin: 19% auto 0;
    }
    
    .carousel-item img {
        max-width: 100%;
        height: 135px;
        object-fit: cover;
    }
    
    
    .logo{
        font-size: 1.6rem;
    }
    
    
    nav ul {
        list-style-type: none;
        display: flex;
        gap: 1.4rem;
        font-size: 1.1rem;
        margin-top: 3%;
    }
    
    nav a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }
    
    nav a:hover {
        color: #ffffff;
    }
    
    .menu_toggle,
    .menu_btn {
        display: none;
        /* Ocultando o botão do menu hambúrguer em telas grande */
    }
    
    .menu_box {
        display: none;
        /* Ocultando menu_box  */
    }
    
    a {
        text-decoration: none;
        width: 14%;
    }
    
    /*icone de lupa*/
    .fas.fa-search {
        font-size: 16px;
        color: #3333338a;
        margin-right: 1px;
        margin-top: 3%;
    }
    
    
    
    /* Estilos para a div de aviso */
    .inactivity-warning {
        display: none;
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        background-color: hsl(48, 96%, 50%);
        padding: 19px;
        color: #000;
        border-radius: 15px;
        border: 13px solid #ff9100;
        height: 333px;
        text-align: center;
        font-size: 1.6rem;
        z-index: 1000;
    }
    
    .inactivity-warning p {
        margin-top: 6%;
    }
    
    .inactivity-warning button {
        margin: 5% auto 0;
        padding: 10px 15px;
        width: 20%;
        height: 44px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .inactivity-warning button:hover {
        background-color: #218838;
    }
    
    
    
    
    /*icone de usuario*/
    .user-icon {
        font-size: 1.5rem;
        position: relative;
        bottom: 6px;
        color: #333;
        text-decoration: none;
        transition: color 0.3s;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    /* Container de pesquisa */
    .search-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    /* input de pesquisa */
    .search-container .search {
        padding: 10px 20px 10px 15px;
        font-size: 15px;
        border-radius: 23px;
        border: 1px solid #cccccc71;
        width: 400px;
    }
    
    /* Estilo do botão de ícone de pesquisa */
    .search-container .search-icon {
        position: absolute;
        right: 5px;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        font-size: 1    px;
    }
    
    
    
    .login-form {
        display: none;
        flex-direction: column;
        gap: 10px;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .welcome-message {
        display: none;
        font-size: 1.5rem;
        color: #4CAF50;
    }
    
    input[type="text"],
    input[type="password"] {
        padding: 10px;
        font-size: 1rem;
        width: 370px;
    }
    
    button {
        padding: 10px;
        font-size: 1rem;
        background: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background: #45a049;
    }
    
    .team-memberOne{
width: 98%;
height: 102px;
    }
    
    


h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 2.6rem;
    margin: 3% auto 4%;
    text-align: center;
}


.member-infoOne{
text-align: center;

margin: 11% 0% 4%  1%;


}


.team-memberOne{
background-color: rgba(255, 255, 255, 0);
border: 4px solid #ff8400;
color: #ffffff;
border-radius: 19px;
margin: 5% auto ;
display: flex;

width: 79%;
height: 542px;
}

.team-memberOne img{
border-radius: 50%;
box-sizing: border-box;
margin-left: 10%;
object-fit: cover;
height: 65%;
width: 34%;
margin-top: 7.5%;
}

.team-memberOne h3{
    font-size: 2.2rem;
    margin-bottom: 3%;
}

.team-memberOne p{
    font-size: 1.5rem;
    margin-bottom: 1%;
}




.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 2em; 
}

/* Ícone do LinkedIn */
.icon-linkedin i {
    margin: 2% 2% 0%;  
    font-size: 3rem;
    color: #0077b5; 
    transition: transform 0.2s;
}

.icon-linkedin i:hover {
    transform: scale(1.2);  
}


.icon-github i {
    transition: transform 0.2s;
    font-size: 3rem;
    color: #fff;
}

}    