@media (max-width: 576px) {



    .team-memberOne{
        display: flex;
        flex-direction: column;
    }
    .team-memberOne img{
height: auto;
width: 52%;
margin: auto;
    }
    .team-memberOne h3{
        font-size: 1.6rem;
margin-bottom: 8%;
    }

    .team-memberOne p{
        font-size: 1.3rem;
    }
    .social-icons{
margin-top: 6%;
    }


    .team-memberTwo{
        display: flex;
        flex-direction: column;
    }



}