@media (max-width: 576px) {

.containerOpinion h1{
font-size: 2rem;
margin: 7% auto;
}
.custom-icon{
font-size: 7.9rem;
margin: 4% auto 19%;
}
.containerOpinion p{
width: 88%;
font-size: 1.1rem;
line-height: 2rem;
}


}