@media (min-width: 650px) and (max-width: 800px) and (orientation: portrait) {


/*cabecalho da pag*/

header {
    background-color: #FFD34F;
    display: flex;
    flex-direction: column;
justify-content: space-evenly;
    align-items: center;
width: 100%;
height: 186px;
}
.search-container input{
font-size: 1.9rem;
width: 100%;
height: 38px;
margin: 5% auto;
}

.logo {
    color: #000;
    font-size: 2.4rem;
margin: 13% auto;
}


.logo-site{
    height: auto;
    width: 11.5%;
position: absolute;
top:1px;
right: 62%;

}




nav ul {
    list-style-type: none;
    display: flex;
    gap:1rem;
   font-size: 1.2rem;
   margin-top: 6%;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.menu_toggle, .menu_btn {
    display: none; /* Ocultando o botão do menu hambúrguer em telas grande */
}

.menu_box {
    display: none; /* Ocultando menu_box  */
}
a{
    text-decoration: none;
    width: 14%;
}

/*icone de lupa*/
.fas.fa-search {
    font-size: 18px;
    color: #3333338a; 
    margin-right: 10px;
    margin-top: 3%;
}



/* Estilos para a div de aviso */
.inactivity-warning {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(48, 96%, 50%);
    padding: 19px;
    color: #000;
    border-radius: 15px;
    border: 13px solid #ff9100;
    height: 333px;
    text-align: center;
    font-size: 1.6rem;
    z-index: 1000;
}
.inactivity-warning p{
    margin-top: 6%;
}

.inactivity-warning button {
    margin: 5% auto 0;
    padding: 10px 15px;
    width: 20%;
    height: 44px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inactivity-warning button:hover {
    background-color: #218838;
}



/* Container de pesquisa */
.search-container {
  
    width: 70%;
    height: 2px;


}
.search{
height: 35px;
font-size: 1rem;
}


/*icone de usuario*/
.user-icon {
    font-size: 1.9rem;
    position: relative;
    bottom: 6px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;

}





/* Popup de Registro */
.registration-popup {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}


.popup-content {
    overflow-y: scroll;
height: 88%;
    background: rgba(47, 46, 44, 0.815);
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    width: 77%;
    max-width: 90%;
    position: relative;
    border: 2px solid  #f39c12;
}


.hidden {
    display: none;
}

/*botao do usuario*/

#individualButton {
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: #00000000;
    color: #fff;
    font-size: 1rem;
    padding: 15px;
}



#individualButton:hover {
    background-color: #f39c12;
    border: 2px solid #000;
    color: #000000;
}

/*botao da empresa*/

#companyButton {
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: #00000000;
    color: #fff;
    font-size: 1rem;
    padding: 15px;
}

#companyButton:hover {
    background-color: #f39c12;
    border: 2px solid #000;
    color: #000000;
}






/* Estilizção  do formulario empresa */
.company-section {
   
    padding: 15px;
    border: 2px solid #967500;
    border-radius: 10px;
    margin-top: 20px;
}

.general-fields,
.company-section {
    display: flex;
  
    gap: 15px;
    width: 100%;
}

/* input ocupando 45% da largura do contêiner */
.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

#companyName, #responsibleName{
width: 100%;
}
#cnpj{
    width: 100%;
}
#businessSector{
width: 100%;
}

#email{
    width: 80%;
    height: 48px;
}
#password{
    width: 80%;

}


 .fa-building{
position: relative;
left:23%;
bottom: 16%;
font-size: 1.9rem;
}
.fa-user{
    position: relative;
    left:27%;
    bottom: 16%;
    font-size: 1.9rem;
}

.company-section .form-group label {
    color: #f39c12;
    font-weight: bold;
    font-size: 1.4rem;
}

.company-section .form-group input {
    border: 1px solid #000000;
    background-color: #fffbe6;
    height: 42px;
}

#companySize {
    height: 32px;
    border-radius: 5px;
}

.company-section select {
    background-color: #fffbe6;
    border: 1px solid #000000;
}






.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 22px;
    font-size: 37px;
    cursor: pointer;
}

.user-type-selector {
    display: flex;
height: 125px;
}

.user-type-selector button {

    padding: 8px;
    cursor: pointer;

    margin: auto;
    background-color: #967500;
}



.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4% auto 1%;
}

.form-group input {
    padding: 3%;
    border-radius: 8px;
}

.form-group label {
    text-align: start;
    margin: 1.5%;
}

.form-group button {
    padding: 21%;
    background-color: #ffffff;
}

#btn-cadastro {
    width: 56%;
    height: 59px;
    font-size: 1.4rem;
    background-color: #f39c12;
    padding: 3%;
    border-radius: 8px;
    border: none;
    margin: 16% auto 0 22%;
}



#Banner {
    width: 100%;
    margin: 19% auto 0;
}

.carousel-item img {
    max-width: 100%;
    height: 175px;
    width: 100%;
    object-fit: cover;
}



#sectionOne p {
width: 88%;
font-size: 1.4rem;
margin: 10% auto 7%;
}


.SectionTwo h2{
width: 98%;
font-size: 2.1rem;
}

.containerTwo{
    display: block;
    width: 93%;
    margin: auto;
}

.containerTwo   p{
    width: 99%;
}

.containerTwo img{
height: auto;
width: 30%;
margin: 10% auto 2%;
}

.vantagens{
margin: 65% auto 5%;
font-size: 2rem;
width: 82%;
}

.sectionThree h2{
font-size: 2.3rem;
text-align: center;
width: 100%;
}
.sectionThree p{
    font-size: 1.4rem;
}
.grupo{
    width: 75%;
}


.sectionFour{
display: block;
}


#containerEconomy {
margin: auto;
}

.titleOne{
    font-size: 2.2rem;
width: 88%;
margin: auto;
}



#containerEconomy {
    margin: auto;
    width: 99%;
}
#containerEconomy .icon-economy {
    font-size: 111px;
margin: 5% auto;
}
#containerEconomy p{
font-size: 1.2rem;
width: 88%;
}

.sectionFour .icon-sustainability {
    color: #FFD700;
    font-size: 111px; 
    align-items: center;
    margin: 5%;
}

.titleTwo{
    font-size: 2.1rem;
    width: 88%;
    margin: 13% auto 1%;
}


#containerSustainable p{
font-size: 1.2rem;
}

.sectionFive h1{
font-size:2.4rem;
width: 93%;
margin: 16% auto 0%;
}


.sectionFive p{
font-size: 1.2em;
width: 80%;
margin-top: 6%;
}


.icon-economy, .icon-sustainability{
    font-size: 1.1rem;
}

.containerThree{
width: 77%;
height: 1294px;
}


.containerThree h2{
font-size: 1.8rem;
width: 100%;
line-height: 3.2rem;
margin: 3% auto 3%;
}

#solar-calculator{
    width: 80%;
    height: 593px;
}
#solar-calculator input{
    padding: 10px;
}
#solar-calculator label{

font-size: 1.3rem;
}



.btn {
    width: 80%;
    height: 49px;
    font-size: 1.9rem;
}





.sectionSix{
margin: 12% auto;
height: 489px;
width: 77%;

}
.projectInformation{
    width: 92%;
    text-align: center;
    align-items: center;
}


.projectInformation .title{
    font-size: 2rem;
    width: 99%;
    margin: 7% auto 8%;
}

.projectInformation p{
   font-size: 1.2rem;
   width: 100%;
   text-align: center;
   margin: auto; 
}






.sectionSeven{
    margin: 12% auto;
    height: 489px;
    
}

.feedbackInformation{
    width: 92%;
}

.feedbackInformation h1{
    font-size: 1.6rem;
    width: 98%;
    margin: 7% auto 8%;
}



.feedbackInformation p{
    font-size: 1.2rem;
    width: 100%; 
 }

 .btn{
margin: auto;
 }

 #btn-sectionSix{
margin-right: 14%;
 }

 .sectionEight h1{
font-size: 2.2rem;
 }
 

 
 .icon-html,
 .icon-css,
 .icon-js,
 .icon-db,
 .icon-java,
 .icon-python {
     font-size: 60px;
     margin: 5% auto;
     color: inherit;
     padding: 2%;
     cursor: pointer
 }
 
 

/* Efeito de expansão */
.icon-html:hover,
.icon-css:hover,
.icon-js:hover,
.icon-db:hover,
.icon-java:hover,
.icon-python:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* Efeito quando for "pressionado"  */
.icon-html:active,
.icon-css:active,
.icon-js:active,
.icon-db:active,
.icon-java:active,
.icon-python:active {
    transform: scale(0.95);
}

.icon-html {
    color: #e34c26;
}

.icon-css {
    color: #1572b6;
}

.icon-js {
    color:  #FFD34F;
}

.icon-db {
    color: #1f74b4;
}

.icon-java {
    color: #007396;
}

.icon-python {
    color: #306998;
}

.icon-html.fa,
.icon-css.fa,
.icon-js.fa,
.icon-db.fa,
.icon-java.fa,
.icon-python.fa {
    font-size: 3em;
}

.sectionNine {

height: 194px;
}
 
 .sectionNine h1{
    font-size: 1.9rem;
    width: 98%;
    margin: 14% auto 4%;
 }

#botao-topo{
    width: 44%;
    margin: 17% auto;
}
        
}