  @media (min-width: 650px) and (max-width: 800px){



/*cabecalho da pag*/

header {
    background-color: #FFD34F;
    display: flex;
justify-content: space-evenly;
    align-items: center;
width: 100%;
height: 76px;
}


.logo {
    color: #000;
    font-size: 1.5rem;
}

.logo-site{
    height: auto;
    width: 10.5%;
position: relative;
right: 1%;
}




nav ul {
    list-style-type: none;
    display: flex;
    gap:1rem;
   font-size: 1rem;
   margin-top: 2%;
}

nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.menu_toggle, .menu_btn {
    display: none; /* Ocultando o botão do menu hambúrguer em telas grande */
}

.menu_box {
    display: none; /* Ocultando menu_box  */
}
a{
    text-decoration: none;
    width: 14%;
}

/*icone de lupa*/
.fas.fa-search {
    font-size: 18px;
    color: #3333338a; 
    margin-right: 10px;
    margin-top: 3%;
}



/* Estilos para a div de aviso */
.inactivity-warning {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(48, 96%, 50%);
    padding: 19px;
    color: #000;
    border-radius: 15px;
    border: 13px solid #ff9100;
    height: 333px;
    text-align: center;
    font-size: 1.6rem;
    z-index: 1000;
}
.inactivity-warning p{
    margin-top: 6%;
}

.inactivity-warning button {
    margin: 5% auto 0;
    padding: 10px 15px;
    width: 20%;
    height: 44px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inactivity-warning button:hover {
    background-color: #218838;
}



/* Container de pesquisa */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 37%;
}



/*icone de usuario*/
.user-icon {
    font-size: 1.9rem;
    position: relative;
    bottom: 6px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;

}




/* Popup de Registro */
.registration-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    color: #000;
    width: 24%;
    max-width: 90%;
    position: relative;
}

.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 22px;
    font-size: 37px;
    cursor: pointer;
}
.user-type-selector{
    display: flex;
    
    }

.user-type-selector button {

    padding: 8px;
    cursor: pointer;

margin: auto;
    background-color: #007396;
}



.form-group{
    display: flex;
    flex-direction: column;
text-align: center;
margin: 4% auto 1%; 
}

.form-group input{
padding: 3%;
border-radius: 8px;
}

.form-group label{
text-align: start;
margin: 1.5%;
}

.form-group button{
padding: 21%;
background-color: #1f74b4;
}

#btn-cadastro{
    width: 56%;
    height: 47px;
background-color: #1572b6;
padding: 3%;
border-radius: 8px;
border: none;
margin: 16% auto 0 22%;
}






/* Estilo do botão de ícone de pesquisa */
.search-container .search-icon {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}



.grupo h2{
    font-size: 1.3rem;
}





#Banner  img{
    height: 222px;
}


#sectionOne p {
width: 88%;
font-size: 1.1rem;
margin: 7% auto 4%;
}


.SectionTwo h2{
width: 98%;
font-size: 2.1rem;
}

.containerTwo{
    display: block;
}

.vantagens{
margin: 58% auto 5%;
font-size: 2rem;
width: 88%;
}


.grupo{
    width: 75%;
}


.sectionFour{
display: block;
}


#containerEconomy {
margin: auto;
}

.titleOne{
    font-size: 1.9rem;
width: 88%;
margin: auto;
}
.titleTwo{
    font-size: 1.9rem;
    width: 88%;
    margin: auto;
}

.sectionFive h1{
font-size: 1.4rem;
width: 55%;
}


.sectionFive p{
font-size: 1.2em;

margin-top: 11%;
}


.icon-economy, .icon-sustainability{
    font-size: 1.1rem;
}

.containerThree{
width: 77%;
height: 724px;
}


.containerThree h2{
font-size: 1.1rem;
width: 100%;
line-height: 1.8rem;
margin: 3% auto 6%;
}

#solar-calculator{
    width: 80%;
    height: 473px;
}
#solar-calculator input{
    height: 9px;
}
#solar-calculator label{

font-size: 1rem;
}

.sectionSix{
margin: 12% auto;
height: 589px;

}

.projectInformation .title{
    font-size: 1.6rem;
    width: 98%;
    margin: 7% auto 8%;
}

.projectInformation p{
   font-size: 1.5rem;
   width: 100%; 
}

.sectionSix .btn{

    width: 17%;
}
.sectionSeven{
    margin: 12% auto;
    height: 589px;
}
.feedbackInformation h1{
    font-size: 1.6rem;
    width: 98%;
    margin: 7% auto 8%;
}



.feedbackInformation p{
    font-size: 1.5rem;
    width: 100%; 
 }


 .sectionEight h1{
font-size: 2.5rem;
 }
 
 .i{
   font-size: 4rem; 
 }

 .sectionNine h1{
    font-size: 2.3rem;
    width: 98%;
    margin: 8% auto;
 }


        
}